
main{
    width: 170px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2em;
    text-align: center;
}

.info {
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: red;
}
